.detailed-container{
    position: relative;
    width: 80%;
    min-height: 500px;
    margin: 5rem auto 0 auto;
}
.back-button{
    background: var(--Dark-Blue);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;


}
.left-arrow{
    margin-right: 0.10rem;
    font-size: 1.05rem;
}
.back-button:hover{
    cursor: pointer;
}
.back-link{
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    color: white;
}
.country-details-container{
    display: flex;
    flex-direction: column;
    height:500px;
}
.country-details{
    width: 100%;
}
.detailed-flag{
    width: 100%;
    max-height: 400px;
    margin-bottom: 2rem;
    max-width: 600px;
}
.detailed-country-name{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.detailed-info{
    width: 100%;
    display: flex;
}
.detailed-info-left{
    margin-right: 1rem;
}
.detailed-info-right{
    margin-left: 1rem;
}
.border-container{
    display: flex;
    align-items: center;
    min-height: 50px;
    max-width: 350px;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.link-to-border{
    margin: 0 0.4rem;
}
.borders{
    padding: 0.5rem 1rem;
    color: gray;
    background: transparent;
    border:none;
}
.borders:hover{
    cursor: pointer;
}

p,div{
    font-size: 0.7rem;
}

.navbar h1{
    font-size: 0.8rem;
}
@media  screen and (min-width:450px) {

    p,div{
        font-size: 0.9rem;
    }
}
@media  screen and (min-width:940px) {
    .navbar h1{
        font-size: 1.3rem;
    }
    p,div{
        font-size: 1rem;
    }
    .country-details-container{
        flex-direction: row;
    }
    .detailed-flag{
        width: 100%;
        max-height: 300px;
        margin-right: 3rem;
        max-width: 400px;
    }
    .country-details{
        width: 60%;
    }

    
}

@media  screen and (min-width:1400px) {
    .navbar{
        max-width: 1800px;
    }
    .country-details-container{
        margin: 0 auto;
    }
    .detailed-container{
        max-width: 1800px;
    }
    .detailed-flag{
        max-width: 700px;
        max-height: 400px;
        margin-left: auto;
        margin-right: 5rem;
    }

    p,div{
        font-size: 1.1rem;
    }

  



}